<p id="notice"><%= notice %></p>

<p>
  <strong>Middle:</strong>
  <%= @instructor.middle %>
</p>

<p>
  <strong>String:</strong>
  <%= @instructor.string %>
</p>

<p>
  <strong>Last:</strong>
  <%= @instructor.last %>
</p>

<p>
  <strong>String:</strong>
  <%= @instructor.string %>
</p>

<p>
  <strong>First:</strong>
  <%= @instructor.first %>
</p>

<p>
  <strong>String:</strong>
  <%= @instructor.string %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @instructor.string %>
</p>

<p>
  <strong>Instruc:</strong>
  <%= @instructor.instruc_id %>
</p>

<p>
  <strong>String:</strong>
  <%= @instructor.string %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
