<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @enrollment.users %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @enrollment.courses %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
