<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @subject.string %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @subject.sub_id %>
</p>

<p>
  <strong>String:</strong>
  <%= @subject.string %>
</p>

<p>
  <strong>Abbreviations:</strong>
  <%= @subject.abbreviations %>
</p>

<p>
  <strong>String:</strong>
  <%= @subject.string %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
