<p id="notice"><%= notice %></p>

<div>
<h1>Listing Searches</h1>

<%= form_tag searches_path, :method => 'get', remote: true, :id => "course_search" do %>
  <p>
    <%= select_tag :subject, options_for_select(@subject_names), :include_blank => true, data: {
    	remote: true,
    	url: url_for(searches_path)
    } %>
    <%= label_tag(:q, "Course") %>
    <%= text_field_tag (:q) %>

    <%= submit_tag "Search", class: "btn btn-default"  %>
  </p>
<%end%>
</div>

<div id="course_results"></div>
